project3_personal_finance_agent.json
{
  "name": "project3_personal_finance_agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -464,
        -192
      ],
      "id": "ef794082-6100-48c2-b06e-5a430e58b9da",
      "name": "When chat message received",
      "webhookId": "b2307414-8ab7-48cf-a4b6-3c2bee389ef9"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a professional Personal Finance Manager. Your job is to help the user track their spending.\n\n    If the user mentions spending money, you MUST use the 'add_expense' tool to log it immediately.\n\n    Be concise. Once you have logged an expense, confirm it to the user."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -256,
        -192
      ],
      "id": "a2338a1b-f55b-4522-9220-e1e8a056e984",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -400,
        64
      ],
      "id": "767509a0-a61d-4b80-8c9d-839f035409e9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fWT9HB206r0cTT1I",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -256,
        64
      ],
      "id": "c7ea78eb-b8db-466c-8dfa-2cba1795e831",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "iPYxGtcM1oFxWKBk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to log a new expense or financial transaction. It requires the amount and a description.",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "transactions",
          "mode": "list",
          "cachedResultName": "transactions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "amount": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('amount', `The exact numerical value of the expense. Do not include currency symbols.`, 'number') }}",
            "category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', `The category of the expense. Use a single word like Food, Transport, Utilities, or Entertainment.`, 'string') }}",
            "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', `A very short summary of what was purchased.`, 'string') }}",
            "user_id": "={{ $json.sessionId }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -112,
        64
      ],
      "id": "206f99ba-2da3-4201-9116-e4dd82d39de0",
      "name": "Insert rows in a table in Postgres",
      "credentials": {
        "postgres": {
          "id": "iPYxGtcM1oFxWKBk",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to get the total amount of money spent by the current user. It returns a single sum.",
        "operation": "executeQuery",
        "query": "SELECT SUM(amount) as total FROM transactions WHERE user_id = '{{ $json.sessionId }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        32,
        64
      ],
      "id": "6aed30ff-01dc-4a51-bddb-7089c8a5e4e7",
      "name": "get_total_spending",
      "credentials": {
        "postgres": {
          "id": "iPYxGtcM1oFxWKBk",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Insert rows in a table in Postgres": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_total_spending": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "478f4774-d8b7-4f80-8a4c-4ac1325b09c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e22caf877d832342e534b803f3689036e5eb6267c5e92614cc32fae5bfa509dc"
  },
  "id": "8JaVMM8Yrz8ABMW1",
  "tags": []
}